@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap");

:root{
    --lgBlue: rgb(24, 135, 187);
    --black: rgba(0, 0, 0,0.9);
    --white: rgba(255, 255, 255, 0.9);
    --bgblack: rgb(32, 32, 32);
    --bgwhite: rgb(230, 230, 230)
}

html body.active{
    overflow-x: hidden;
    overflow-y: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: oswald , Arial, Helvetica, sans-serif;
    color: var(--white);
    text-transform: capitalize;
}

body{
    background-color: var(--bgblack);
}
body #stars{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/stars.jpeg);
    z-index: -1000;
    position: absolute;
    top: 0;left: 0;
    opacity: 0.4;
}
#mainHeader{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    width: 100%;
    padding: .3rem;
    background-color: var(--black);
    z-index: 1000
    ;
}
#mainHeader *{
    font-size: 2rem;
}
#mainHeader nav a{
    margin-left: .5rem;
}
#mainHeader a:hover{
    color: var(--lgBlue);
}
.fa-globe-americas{
    margin-right: .2rem;
}
#menu{
    position: relative;
    margin: auto;
    gap: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#menu h1{
    color: var(--lgBlue);
    text-shadow: 1px 1px 1px var(--white);
    font-size: 3rem;
    letter-spacing: 0.1rem;
}
#menu #store{
    position: absolute;
    bottom: 0;right: 0;
    padding: 0.5rem;
    font-size: 1.5rem;
    background-color: var(--white);
    border-radius: 1000px;
    margin: .5rem;
    color: var(--black);
    transition: 1s;
}
#menu #store:hover{
    background-color: var(--lgBlue);
}
#menu img{
    position: absolute;
    top: 0;left: 0;
    z-index: -1;
    opacity: 0.2;
    width: 100%;
    height: 100%;
}
#wonscreen,#loseScreen{
    position: fixed;
    top: 0;left: 0;bottom: 0;right: 0;
    background-image: url(../images/stars.jpeg);
    z-index: 1000000;
    display: none;
    justify-content: center;
    align-items: center;
}
#wonscreen i,#loseScreen i{
    font-size: 10vw;
    height: 10vw;
    font-size: 2rem;
    position: absolute;
    top: 0.5rem;right: 0.5rem;
}
#wonscreen p,#loseScreen p{
    text-align: center;
    font-size: 2em;
    max-width: 300px;
    margin-left: 2rem;
}
#wonscreen p span,#loseScreen p span{
    color: var(--lgBlue);
    font-size: 1em;
}
#wonscreen img,#loseScreen img{
    max-width: 300px;
}
#levels{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    place-items: center;
    width: 60%;
    height: 60%;
    border: 2px solid var(--white);
    border-radius: 10px;
}
#levels .level{
    width: 80px;
    max-width: 70%;
    height: 80px;
    max-height: 70%;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
#levels .level.active.game,#levels .level.active:hover{
    background-color: white;
    color: var(--black);
}
#levels .level i{
    position: absolute;
    color: var(--black);
    font-size: 3rem;
    z-index: 0;
    opacity: 0.8;
}
#start{
    position: relative;
    color: var(--black);
    font-weight: 700;
    text-transform: uppercase;
    padding: .2rem;
    border-radius: 10px;
    font-size: 1.5rem;
    overflow: hidden;
}
#start:hover{
    background-color: transparent;
}
#start div{
    z-index: -1;
    width: 50%;
    position: absolute;top: 0;
    height: 100%;
    background-color: var(--lgBlue);
    transition: .5s;
}
#start div:nth-child(1){
    left: -50%;
}
#start div:nth-child(2){
    right: -50%;
}
#start:hover div:nth-child(1){
    left: 0;
}
#start:hover div:nth-child(2){
    right: 0;
}
#anime{
    display: none;
    width: 10%;
    max-width: 50px;
}
#defensePlanet{
    display: none;
    position: relative;
    width: 100vw;
    height: 100vh;
}
#planet{
    position: absolute;
    left: 50%;top: 50%;
    max-width: 400px;
    max-height: 400px;
    transition: .5s;
}
#planet img{
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
}
#player{
    transition: .5s;
    position: absolute;
    width: 10%;
    top: 50%;left: 45%;
    max-width: 50px;
}
#player img{
    width: 100%;
}
.shot{
    position: absolute;
    width: 2vw;
    max-width: 10px;
    max-height: 10px;
    height: 2vw;
    filter: blur(1px);
    background-color: rgb(9, 255, 0);
    border-radius: 5px;
    transform: translateX(-50%);
    z-index: -1;
}
.bomb{
    position: absolute;
    width: 5;height: 5vw;
    text-align: center;
}
.bomb img{
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
}
.planetLife,.playerLife,.manyshots{
    display: flex;
    align-items: center;
    margin: 0.5rem;
}
#planetLife,#playerLife,#manyshots{
    width: 40vw;
    max-width: 150px;
    height: 5vw;
    max-height: 18.75px;
    border: 1px solid var(--bgwhite);
    z-index: 1000;
}
#planetLife{
    transform: translateX(-0.2rem);
}
#planetLife div{
    width: 100%;
    height: 100%;
    background-color: rgba(19, 219, 12, 0.835);
    filter: blur(2px);
}
#playerLife div{
    width: 100%;
    height: 100%;
    background-color: rgba(219, 19, 12, 0.835);
    filter: blur(2px);
}
#manyshots div{
    width: 100%;
    height: 100%;
    background-color: rgba(219, 164, 12, 0.835);
    filter: blur(2px);
}
#defensePlanet i{
    width: 1.5rem;
    text-align: center;
}
.cure{
    position: absolute;
    z-index: -1;
    width: 8vw;
    height: 8vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--black);
    background-color: rgba(219, 164, 12, 0.835);
}
#TopBottomShot{
    position: absolute;
    bottom: 2%;left: 0;
    display: flex;
    flex-direction: column;
    z-index: 10000;
}
#RightLeft{
    display: flex;
    position: absolute;
    bottom: 2%;right: 0;
    z-index: 10000;
}
#mobileControls i{
    width: 10vw;
    height: 10vw;
    max-width: 60px;
    max-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--white);
    margin: .5rem;
    opacity: 0.7;
}


@media (orientation:portrait){
    #menu{
        width: 100vw;
        max-width: 600px;
        height: 100vw;
        max-height: 600px;
    }
    #planet img{
        width: 80vw;
        height: 80vw;
    }
}
@media (orientation:landscape){
    #menu{
        width: 100vh;
        max-width: 600px;
        height: 100vh;
        max-height: 600px;
    }
    #planet img{
        width: 80vh;
        height: 80vh;
    }
}
@media (max-width: 600px){
    #mainHeader *{
        font-size: 1rem;
    }
    #menu *{
        text-align: center;
    }
    #menu h1{
        font-size: 2rem;
    }
    #levels{
        width: 90%;
    }
    #wonscreen,#loseScreen{
        flex-direction: column;
    }
}
